lab3/nodered-flow.json
[
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Sensor Input",
        "topic": "factory/sensor/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [["function_parse"]]
    },
    {
        "id": "function_parse",
        "type": "function",
        "z": "flow1",
        "name": "Parse Temperature",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 200,
        "wires": [["switch_filter", "debug_all"]]
    },
    {
        "id": "debug_all",
        "type": "debug",
        "z": "flow1",
        "name": "All Readings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "switch_filter",
        "type": "switch",
        "z": "flow1",
        "name": "Temperature > 80?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "80",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 200,
        "wires": [["mqtt_out_cloud", "debug_alert"]]
    },
    {
        "id": "mqtt_out_cloud",
        "type": "mqtt out",
        "z": "flow1",
        "name": "To Cloud",
        "topic": "cloud/alerts/temperature",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug_alert",
        "type": "debug",
        "z": "flow1",
        "name": "ALERT!",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "flow1",
        "type": "tab",
        "label": "Factory Fog Gateway",
        "disabled": false,
        "info": ""
    }
]
